
#menuBtn{
	-fx-background-color: #ffffff ;
}

#menuBtn:hover{
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(255,255,255) 0.0, rgb(128,153,255) 100.0) ;
}

.shadow {
    opacity: 0.5;
}